@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f4d8; /* Light green background color */
}

header, main, footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.collection-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.collection-title {
  font-size: 1.5rem;
  color: #000; /* Black color */
  margin: 10px;
  padding-right: 20px; /* Adjust this value to move the title to the right */
}

.collection-description {
  font-size: 1rem;
  color: #000;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #28a145;
  border-radius: 5px;
  width: 300px;
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7fbf8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: double;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 50px; 
  width: auto;
  margin-right: 10px;
}

nav .logo h1 {
  font-size: 1.1rem;
  color: #000; /* Change to black */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #2e7d32; /* Dark green */
  color: #fff;
}

/* Cart Notification */
.cart-notification {
  position: relative;
  display: inline-block;
}

.cart-notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 0.75rem;
  }
  
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menubar ul li a:hover {
  background-color: #2e7d32; /* Dark green */
  color: #fff;
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }

  .collection-search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2px; /* Reduced margin-bottom */
  color: black;
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  padding: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #e5e5d3;
}

.box-top {
  display: flex;
  flex-direction: column;
}

.box-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.price {
  font-size: 1.2em;
  font-weight: bold; 
  margin-bottom: 80px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.button:hover {
  background: #2e7d32; /* Dark green */
  color: #fff;
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* Filter Navigation Bar */
.filter-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-nav select,
.filter-nav input {
  padding: 10px;
  border: 1px solid #28a145;
  border-radius: 5px;
  font-size: 1rem;
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

.banner {
  width: 100%;
  overflow: hidden;
  height: 400px; /* Adjust the height to make the banner slightly shorter */
  animation: slideIn 1.5s ease-out;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: #000;
  font-size: 1.5em;
}

footer p a {
  color: #000;
  text-decoration: none;
}
/* -----------Checkout------------ */

.checkout-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f7fbf8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.checkout-bar.show {
  transform: translateX(0);
}

.checkout-bar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.checkout-bar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 60%;
  margin-bottom: 20px;
}

.checkout-bar ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-bar p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkout-bar button {
  padding: 10px 20px;
  background-color: #28a145;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.checkout-bar button:hover {
  background-color: #2e7d32;
}

.cart-notification {
  position: relative;
  display: inline-block;
}

.cart-notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 0.75rem;
}